.section-2 
    .container
        .swiper.mySwiper2
            .swiper-wrapper
                    .swiper-slide
                        img(src="/images/anh10.webp" alt="")
                    .swiper-slide
                        img(src="/images/anh11.webp" alt="")
                    .swiper-slide
                        img(src="/images/anh12.webp" alt="")
                    .swiper-slide
                        img(src="/images/anh13.webp" alt="")
